@font-face {
  font-family: 'Cutive';
  src: url('./fonts/CutiveMono-Regular.ttf') format('truetype');
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Cutive', 'Courier New', Courier, monospace;
  overflow: hidden;
  cursor: pointer;
}
h1 {
  font-size: 1.1rem;
  position: absolute;
  left: 9vw;
  top: 78vh;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  letter-spacing: 1px;
  display: block;
  opacity: 0;
  transition: opacity 400ms ease;
  padding: 1rem;
  background-color: rgba(80, 80, 80, 0.7);
}
.flex {
  display: flex;
  text-align: center;
  overflow: hidden;
}
.flex section {
  position: relative;
  width: 50%;
  height: 50%;
}
img {
  object-fit: cover;
  width: 100%;
  height: 101vh;
  -webkit-user-drag: none;
  backface-visibility: hidden;
}
.info {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 30px;
  height: auto;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  color: #fff;
  padding: 2rem;
  background-color: rgba(80, 80, 80, 0.9);
}

p {
  width: 40%;
  filter: drop-shadow(1px 1px 1px #717171);
}

h2 {
  font-size: 1.5rem;
  filter: drop-shadow(1px 1px 1px #717171);
}

.one-info:hover,
.two-info:hover {
  opacity: 1;
  cursor: help;
}

@media only screen and (max-width: 600px) {
  .flex {
    display: flex;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
  }
  body {
    max-height: stretch;
  }
  .flex section {
    width: 100%;
    height: 52vh;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 52vh;
  }

  .one-info:hover,
  .two-info:hover {
    opacity: 0;
  }

  h1 {
    top: 40%;
    left: 15%;
    opacity: 0;
    z-index: -1;
  }

  #one.blur,
  #two.blur {
    opacity: 0.2
  }

  #one.blur + .one-info {
    opacity: 1;
    z-index: 1;
  }

  #two.blur + .two-info {
    opacity: 1;
    z-index: 1;
  }

  p {
    width: 80%;
  }

  .modal > p:last-child {
    padding-bottom: 4rem;
  }
}
